<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">

    <title>Ceres</title>
    <link rel="manifest" href="/manifest.json">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>


<!-- Navigation Sidebar Header -->


<body class="head">

    
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="/mensen">
                    <h1 id="logo-font" class="logo-color">Ceres</h1>
                </a>
                </div>
    
                <ul class="list-unstyled components">
                    
                
                    <li>
                        <a href="#" class="text-muted">Lieblingsmensen</a>
                    </li>

                    
                    <li>
                        <a href="#" class="text-muted">Lieblingsspeisen</a>
                    </li>
                    <li>
                        <a href="#" class="text-muted">Über uns</a>
                    </li>
                </ul>
    
            </nav>
    
            <!-- Page Content  -->
            <div id="content"  class="container-fluid main">
    
                <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                    <div class="container-fluid">
    
                        <a href="/mensen" class="navbar-brand d-flex align-items-center">
                         <!--   <img src="/img/96x96.png" width="30" height="30" alt="" loading="lazy">-->
              
                            <h1 id="logo-font" class="logo-color">Ceres</h1>
                        </a>

                        <button type="button" id="sidebarCollapse" class="navbar-btn logo-color">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
    
                        
                    </div>
                </nav>
    
              
            
    
        
    


    <!-- top nav 
    
    <div class="collapse  head" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <ul class="list-unstyled">
                        <li><a href="/mensen" class="text-dark">Einstellungen</a></li>
                        <li><a href="/mensen" class="text-dark">FAQ</a></li>
                        <li><a href="/lieblingsmensen" class="text-dark">Lieblingsmensen</a></li>
                        <li><a href="/speise/lieblingsspeisen" class="text-dark">Lieblingsspeisen</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
    <div class="navbar navbar-light  shadow-sm head">

        <div class="container d-flex justify-content-between">
            <a href="/mensen" class="navbar-brand d-flex align-items-center">
                <img src="/img/96x96.png" width="30" height="30" alt="" loading="lazy">
  
                <strong>Ceres</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    

    
    
    
  <!-- / Navigation Sidebar Header -->