<%- include("partials/header"); -%>
    <main>
        <div class="container" id="container">
            <button onclick="send()">benachrichtigen</button>>

        </div>
    </main>
    <%- include("partials/footer"); -%>