<%- include("partials/header"); -%>

    <main class="login-form">

        <div class="cotainer">
            <div class="form-container regis-container">

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">

                            <div class="card-header"> Über uns
                            </div>

                            <div class="card-body">
                                <p>
                                    Diese PWA stellt das Prüfungsprojekt im Fach Programmierung mobiler Anwendungen im SoSe 2020 an der HTW Berlin dar.<br /> Gruppe 11:
                                    <br /> Thanh Thuy Vu, 566770<br /> Yevheniia Vostres, 566769 <br /> Grzegorz Pawlak, 563317 <br /> Die Mensadaten wurden von OpenMensa übermittelt <br /> https://doc.openmensa.org/api/v2/
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </main>
    <%- include("partials/footer"); -%>